.bar-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding-top: 20px;
    position: relative;
    top: 170px;
}

.btn-add {
    font-size: 1.5em;
    padding: 13px 25px 0px 25px;
    background: linear-gradient(to right, rgb(67, 211, 151), rgb(69, 175, 189));
    border-radius: 0px 30px 30px 0px;
    color: #fff;
    cursor: pointer;
}

.input-task {
    outline-style: none;
    padding: 10px 25px 10px 25px;
    font-size: 1.5em;
}

::placeholder {
    color: rgb(182, 179, 179);
    opacity: 1; /* Firefox */
  }